body {background-color:lightblue ; font-family : "Courier New" ; color : rgb(255, 255, 255) ;}
a:link {color : rgb(255, 255, 128)}
h1 {font-family: "Brush Script MT"}
h2 {font-family: "Copperplate"; Color: lightgreen;}

