body {
          text-align: center;
          padding-left: 7%;
          padding-right: 7%;
          padding-top: 3%;
          padding-bottom: 3%;
          font-family: American Typewriter, serif;
          color:#d62828;
          background-color:#000000;
}

table {
          border-collapse:collapse;
          border: 3px solid #000000;
          margin-left: auto;
          margin-right: auto;
          border-bottom: solid 5px;
          color:#d62828;
}

tr {
          border: solid #d62828 5px;
          
}

td {
          border-right: solid 1px;
          padding: 5px;
          text-align: center;
          
}
nav {
          padding-bottom: 10px;
}
nav li { 
          position: relative;
          display: inline-block;
          padding-left: 8px;
          font-size: 18px;
          padding-right: 8px;
          text-align: center;
}
nav li ul {
          display: inline-block;
          width: 100px;
          top: 100%;
          padding: 0;
          padding-top: 5px;
          background-color: #000000;
          position: absolute;
}
nav li:hover > ul {
          display: block;
}

a {
          padding-left: 3px;
          padding-right: 3px;
          text-align: center;
          
}

h1 {
          font-family: Georgia;
          color: #FFFFFF;
          font-size: 30px;
}
h2 {
          font-family: Brush Script MT;
          color:#2265EC;
          font-size: 18px;
}
.Type1 {
          background-color:#BF1DA4;
          color:#FFFFFF;
}
.Type2 {
          background-color:#1D35BF;
          color:#FFFFFF;
}
.Number {
          background-color:#1D53BF;
          color:#FFFFFF;
}

.Image {
          background-color:#1CBFBA;
          color:#FFFFFF;
}

.Name {
          background-color:#BF1D69;
          color:#FFFFFF;
}

.Total {
          background-color:#A46798;
          color:#FFFFFF;
}
.HP {
          background-color:#487E0E;
          color:#FFFFFF;
}
.Attack {
          background-color:#CA1208;
          color:#FFFFFF;
}
.Defense {
          background-color:#4774C2;
          color:#FFFFFF;
}
.SpAtk {
          background-color:#991414;
          color:#FFFFFF;
}
.SpDef {
          background-color:#1F1497;
          Color:#FFFFFF;
}
.Speed {
          background-color:#C2D1EB;
          color:#FFFFFF;
}
.Generation {
          background-color:#7CE552;
          color:#FFFFFF;
}
.Legendary {
          background-color:#FFFF00;
          color:#000000;
}
.Bug {
          background-color:#A8B820;
          color:#FFFFFF;
}
.Electric {
          background-color:#F8D030;
          color:#FFFFFF;
}
.Fairy {
          background-color:#EE99AC;
          color:#FFFFFF;
}
.Fire {
          background-color:#F08030;
          color:#FFFFFF;
}
.Flying {
          background-color:#A890F0;
          color:#FFFFFF;
}
.Ghost {
          background-color:#705898;
          color:#FFFFFF;
}
.Grass {
          background-color:#78C850;
          color:#FFFFFF;
}
.Ground {
          background-color:#E0C068;
          color:#FFFFFF;
}
.Ice {
          background-color:#98D8D8;
          color:#FFFFFF;
}
.Normal {
          background-color:#A8A878;
          color:#FFFFFF;
}
.Poison {
          background-color:#A040A0;
          color:#FFFFFF;
}
.Psychic {
          background-color:#F85888;
          color:#FFFFFF;
}
.Rock {
          background-color:#B8A038;
          color:#FFFFFF;
}
.Dragon {
          background-color:#7038F8;
          color:#FFFFFF;
}
.Steel {
          background-color:#B8B8D0;
          color:#FFFFFF;
}
.Water {
          background-color:#6890F0;
          color:#FFFFFF;
}
.Fighting {
          background-color:#C03028;
          color:#FFFFFF;
}
